/* CSS-reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

:root {
    --clr-primary-dark: hsl(205, 14%, 64%);
    --clr-primary: hsl(212, 61%, 86%);
    --clr-text: hsl(212, 61%, 90%);  

    --clr-dark: hsl(201, 33%, 17%);

}