:root {
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: ;
    min-height: 100vh;
}

img{
    max-width: 100%;
    display: block;
}

table{
    text-align: start;
    margin: 0 auto;
    border-collapse: collapse;
}

th{
    font-size: 20px;
}

table td, th{
    border: 1px solid green;
    padding: 10px;
}

thead{
    background-color: rgba(64, 151, 64, 0.686);
}

r{
    color: red;
}

h1{
    color: ;
    text-align: center;
    margin: 10px auto;
}

.kompetanse{
    text-align: center;
    margin: 30px auto;

    max-width: 800px;
    border-radius: 10px;
}

